<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Task</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/p3.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
       .navbg{
        background: linear-gradient(-40deg,#006666,#00ccff);
        border-bottom: 1px solid white;
      }
      .backBtn:hover{
        text-decoration: none;
        color: orangered;
      }
    </style>
</head>
<body style="overflow-x: hidden;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbg">
      <img class="ml-4" height="30px" src="{{ url_for('static', filename='/images/p1.ico') }}" alt="logo"> &nbsp; <span style="color: aliceblue;">Task Manager / Assigned Task</span>
    </nav>

    <!-- Table -->
    <div class="row mt-3">
        <div class="col col-lg-12">
            <div class="table-responsive">
                <h1 class="display-4 mb-5 ml-3"><span><a href="{{ url_for('goBack') }}" class="backBtn"><ion-icon name="caret-back"></ion-icon> </a></span>{{ name }}'s Tasks... </h1>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Task Name</th>
                        <th scope="col">Group Task</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Assigned By</th>
                        <th scope="col">Assigned On</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Status</th>
                        <th scope="col">Turn in</th>
                        <th scope="col"></th>
                        <th scope="col">Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if msg %}
                            <li class="list-group-item list-group-item-danger text-center mb-3">{{ msg }}</li>
                        {% endif %}

                        {% for i in infos %}
                      <tr>
                        <td> {{ i[1] }} </td>
                        <td class="text-center"> {{ i[4] }} </td>
                        <td> {{ i[5] }} </td>
                        <td> {{ i[6] }} </td>
                        <td style="color: green;">{{ i[8] }}</td>
                        <td style="color: red;">{{ i[9] }}</td>
                        {% if i[10] == 'high' %}
                            <td><span class="badge badge-pill badge-danger">{{ i[10] }}</span></td>
                        {% endif %}
                        {% if i[10] == 'medium' %}
                            <td><span class="badge badge-pill badge-warning">{{ i[10] }}</span></td>
                        {% endif %}
                        {% if i[10] == 'low' %}
                            <td><span class="badge badge-pill badge-success">{{ i[10] }}</span></td>
                        {% endif %}

                        <td>{{ i[11] }}</td>
                        <form action="/changeStatus" method="POST">
                        {% if i[12] == 'Assigned' %}

                          <td>
                            <select name="currentStatus">
                              <option selected disabled>{{ i[12] }}</option>
                              <option value="In Progress">In Progress</option>
                              <option value="Completed">Completed</option>
                            </select>
                            <input type="hidden" name="taskName" value="{{i[1]}}">
                          </td>
                        {% elif i[12] == 'Completed' %}
                          <td><span class="badge badge-pill badge-success">{{ i[12] }}</span></td>
                        {% else %}

                            <td>
                              <select name="currentStatus">
                                <option selected disabled>{{ i[12] }}</option>
                                <option value="Completed">Completed</option>
                              </select>
                               <input type="hidden" name="taskName" value="{{i[1]}}">
                            </td>
                        {% endif %}

                        <td>
                          {% if i[13] %}
                            <input type="date" name="turnin" value={{ i[13] }}>
                          {% else %}
                            <input type="date" name="turnin">{{ i[13] }}
                          {% endif %}
                        </td>
                        <td>
                          {% if i[12] != 'Completed' %}
                            <input type="submit" class="ml-3 btn btn-success btn-sm" value='Go'>
                          {% endif %}
                        </td>
                      </form>
                      <td>
                        <form  action="/remarkview" method="POST" >
                          <input type="hidden" name="id" value="{{i[0]}}">
                          <input type="hidden" name="taskName" value="{{i[1]}}">
                          <input type="hidden" name="assignees" value="{{i[2]}}">
                          <input type="hidden" name="designation" value="{{i[3]}}">
                          <input type="hidden" name="assignedby" value="{{i[5]}}">
                          <input type="hidden" name="role" value="{{i[6]}}">
                          <input type="hidden" name="dept" value={{i[7]}}>
                          <input type="hidden" name="groupTask" value={{i[4]}}>
                          <input type="submit" value="View" class="btn btn-info btn-sm"></form>
                      </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
