<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/responsiveslides.css">
    <style>
        body{          
	        background: #B0C4DE;
        }
        .navbg{
            background: linear-gradient(-40deg,#006666,#00ccff);
            border-bottom: 1px solid white;
        }
        .container-bg {

        background: white;
        margin: 0 auto; /* Added */   
        border-radius: 2%;
        float: none; /* Added */
      }       
    </style>
  </head> 
  
    
  <body>
    <div class="container-bg pt-2 mt-5 col-12" style="width: 50rem;">
      <div class="col-12">
        <p style="font-family: cursive; font-size:x-large;">How can we help you??</p>      
      </div>

      <hr>

      <div class="container-bg pb-3 col col-12 ">           
          <h4>How do I sign in to Task Manager?</h4>
          <p>Depending on your task assignment, you can sign in to Task Manager with <i><u>Organisation Account</u></i></p> <br>
          <h4>Ready to sign in?</h4>
          <p>You must have an active Internet connection to sign in. If you already know how to sign in to Task Manager, go to <a href="/loginPage">Login Page</a></p><br/>
          <h4>Get started with Task Manager</h4>
          <p>To get started, complete these steps:
            <ul style="margin-left: 5%;">
              <li>Sign in to Task Manager.</li>
              <li>You can assign task by clicking on add task.</li>
              <li>View task through assigned tasks.</li>
              <li>View task assigned by you->By clicking assigned task.</li>
              <li>View the progress of the project through dashboard</li>
            </ul>
          </p>
      </div>
    </div>  
  </body>
</html>
