<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Team</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body{
      overflow-x: hidden;
    }
    .card{
      box-shadow: 2px 3px 7px black;
    }
    @media (max-width:600px) {
      .card{
        margin-left: 8%;
      }
    }
  </style>
</head>
<body>
  <h1 class="text-center mt-2 display-3">Support Team</h1><br>

  <div class="mt-3 container">
    <div class="card-deck">
      <div class="card mb-5" style="width: 18rem;">
        <img class="card-img-top" height="300vh" src="../static/images/akhil.jpg" alt="Akhil">
        <div class="card-body">
          <h5 class="card-title text-center">AKHIL HARWADEKAR</h5>
          <p class="card-text text-center text-muted">Department of Computer Science and Engineering <br><br> JSS Academy of Technical Education Bengaluru</p>
        </div><br>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img class="card-img-top" height="300vh" src="../static/images/manikanta.jpg" alt="Manikanta">
        <div class="card-body">
          <h5 class="card-title text-center">MANIKANTA B</h5>
          <p class="card-text text-center text-muted">Department of Computer Science and Engineering <br><br> JSS Academy of Technical Education Bengaluru</p>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img class="card-img-top" height="300vh" src="../static/images/rach2.jpeg" alt="Rachana">
        <div class="card-body">
          <h5 class="card-title text-center">RACHANA KULKARNI</h5>
          <p class="card-text text-center text-muted">Department of Computer Science and Engineering <br><br> JSS Academy of Technical Education Bengaluru</p>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img class="card-img-top" height="300vh" src="../static/images/san.jpeg" alt="Sadhya">
        <div class="card-body">
          <h5 class="card-title text-center">SANDHYA P</h5>
          <p class="card-text text-center text-muted">Department of Computer Science and Engineering <br><br> JSS Academy of Technical Education Bengaluru</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <footer>
        <p class="text-center text-muted col-11"><b>Faculty: Dr. Naveen N C(HOD, CSE) and &nbsp; Mrs. Ranjitha S R(Asst. Professor, CSE)</b></p>
        <p class="text-center text-muted col-11">For any queries mail to: <a href="mailto:elitecoders.jss@gmail.com"> elitecoders.jss@gmail.com</a></p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>